<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.djohnson.dt.unit.sceneLifecycleApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.djohnson.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Nodes</key>
	<array>
		<string>Info.plist:UIApplicationSceneManifest</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:UIApplicationSceneManifest</key>
		<dict>
			<key>Beginning</key>
			<string>
            &lt;key&gt;UIApplicationSceneManifest&lt;/key&gt;
            &lt;dict&gt;
                &lt;key&gt;UIApplicationSupportsMultipleScenes&lt;/key&gt;
                &lt;false/&gt;
                &lt;key&gt;UISceneConfigurations&lt;/key&gt;
                &lt;dict&gt;
                    &lt;key&gt;UIWindowSceneSessionRoleApplication&lt;/key&gt;
                    &lt;array&gt;
                        &lt;dict&gt;
                            &lt;key&gt;UISceneConfigurationName&lt;/key&gt;
                            &lt;string&gt;Default Configuration&lt;/string&gt;
                            &lt;key&gt;UISceneDelegateClassName&lt;/key&gt;
                            &lt;string&gt;___VARIABLE_moduleNamePrefixForClasses:XML___SceneDelegate&lt;/string&gt;
</string>
			<key>End</key>
			<string>
                        &lt;/dict&gt;
                    &lt;/array&gt;
                &lt;/dict&gt;
            &lt;/dict&gt;
</string>
			<key>Indent</key>
			<integer>2</integer>
		</dict>
		<key>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</key>
		<string>
&lt;key&gt;UISceneStoryboardFile&lt;/key&gt;
&lt;string&gt;Main&lt;/string&gt;
</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>AppDelegate.m:implementation:methods:UISceneSessionLifecycleBanner</string>
							<string>AppDelegate.m:implementation:methods:applicationconfigurationForConnectingSceneSession(- (UISceneConfiguration *\)application:(UIApplication *\)application configurationForConnectingSceneSession:(UISceneSession *\)connectingSceneSession options:(UISceneConnectionOptions *\)options)</string>
							<string>AppDelegate.m:implementation:methods:applicationconfigurationForConnectingSceneSession:comment</string>
							<string>AppDelegate.m:implementation:methods:applicationconfigurationForConnectingSceneSession:body</string>
							<string>AppDelegate.m:implementation:methods:applicationdidDiscardSceneSessions(- (void\)application:(UIApplication *\)application didDiscardSceneSessions:(NSSet&lt;UISceneSession *&gt; *\)sceneSessions)</string>
							<string>AppDelegate.m:implementation:methods:applicationdidDiscardSceneSessions:comment</string>
							<string>SceneDelegate.h:comments</string>
							<string>SceneDelegate.h:imports:importCocoa</string>
							<string>SceneDelegate.h:interface(SceneDelegate : UIResponder &lt;UIWindowSceneDelegate&gt;)</string>
							<string>SceneDelegate.h:interface:window</string>
							<string>SceneDelegate.m:comments</string>
							<string>SceneDelegate.m:imports:importHeader:SceneDelegate.h</string>
							<string>SceneDelegate.m:extension</string>
							<string>SceneDelegate.m:implementation:synthesize</string>
							<string>SceneDelegate.m:implementation:methods:sceneWillConnectToSession(- (void\)scene:(UIScene *\)scene willConnectToSession:(UISceneSession *\)session options:(UISceneConnectionOptions *\)connectionOptions)</string>
							<string>SceneDelegate.m:implementation:methods:sceneWillConnectToSession:comments</string>
							<string>SceneDelegate.m:implementation:methods:sceneWillConnectToSession:body</string>
							<string>SceneDelegate.m:implementation:methods:sceneDidDisconnect(- (void\)sceneDidDisconnect:(UIScene *\)scene)</string>
							<string>SceneDelegate.m:implementation:methods:sceneDidDisconnect:comments</string>
							<string>SceneDelegate.m:implementation:methods:sceneDidBecomeActive(- (void\)sceneDidBecomeActive:(UIScene *\)scene)</string>
							<string>SceneDelegate.m:implementation:methods:sceneDidBecomeActive:comments</string>
							<string>SceneDelegate.m:implementation:methods:sceneWillResignActive(- (void\)sceneWillResignActive:(UIScene *\)scene)</string>
							<string>SceneDelegate.m:implementation:methods:sceneWillResignActive:comments</string>
							<string>SceneDelegate.m:implementation:methods:sceneWillEnterForeground(- (void\)sceneWillEnterForeground:(UIScene *\)scene)</string>
							<string>SceneDelegate.m:implementation:methods:sceneWillEnterForeground:comments</string>
							<string>SceneDelegate.m:implementation:methods:sceneDidEnterBackground(- (void\)sceneDidEnterBackground:(UIScene *\)scene)</string>
							<string>SceneDelegate.m:implementation:methods:sceneDidEnterBackground:comments</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>AppDelegate.h:interface:window</key>
							<string></string>
							<key>AppDelegate.m:implementation:methods:applicationWillResignActive</key>
							<string></string>
							<key>AppDelegate.m:implementation:methods:applicationWillResignActive:comments</key>
							<string></string>
							<key>AppDelegate.m:implementation:methods:applicationDidEnterBackground</key>
							<string></string>
							<key>AppDelegate.m:implementation:methods:applicationDidEnterBackground:comments</key>
							<string></string>
							<key>AppDelegate.m:implementation:methods:applicationWillEnterForeground</key>
							<string></string>
							<key>AppDelegate.m:implementation:methods:applicationWillEnterForeground:comments</key>
							<string></string>
							<key>AppDelegate.m:implementation:methods:applicationDidBecomeActive</key>
							<string></string>
							<key>AppDelegate.m:implementation:methods:applicationDidBecomeActive:comments</key>
							<string></string>
							<key>AppDelegate.m:implementation:methods:UISceneSessionLifecycleBanner</key>
							<string>#pragma mark - UISceneSession lifecycle

</string>
							<key>AppDelegate.m:implementation:methods:applicationconfigurationForConnectingSceneSession:body</key>
							<string>return [[UISceneConfiguration alloc] initWithName:@&quot;Default Configuration&quot; sessionRole:connectingSceneSession.role];</string>
							<key>SceneDelegate.h:interface:window</key>
							<string>@property (strong, nonatomic) UIWindow * window;</string>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>coreData</key>
							<string>true</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>SceneDelegate.m:imports:importHeader:AppDelegate.h</string>
							<string>SceneDelegate.m:implementation:methods:sceneDidEnterBackground:saveCoreDataContext</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>SceneDelegate.m:implementation:methods:sceneDidEnterBackground:saveCoreDataContext</key>
							<string>
// Save changes in the application&apos;s managed object context when the application transitions to the background.
[(AppDelegate *)UIApplication.sharedApplication.delegate saveContext];
</string>
							<key>*:importCoreData</key>
							<string></string>
							<key>AppDelegate.m:implementation:methods:applicationDidEnterBackground:save</key>
							<string></string>
						</dict>
					</dict>
				</array>
				<key>Swift</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>SceneDelegate.swift:comments</string>
							<string>SceneDelegate.swift:imports:importCocoa</string>
							<string>SceneDelegate.swift:implementation(SceneDelegate: UIResponder, UIWindowSceneDelegate)</string>
							<string>SceneDelegate.swift:implementation:properties:window</string>
							<string>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession(func scene(_ scene: UIScene, willConnectTo session: UISceneSession, options connectionOptions: UIScene.ConnectionOptions\))</string>
							<string>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>SceneDelegate.swift:implementation:properties:window</key>
							<string>var window: UIWindow?</string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
